extends plain_layout


block content
    input(type='hidden' name='hasMore' id='r_hasMore' value=hasMore.toString())
    input(type='hidden' name='baseDate' id='r_baseDate' value=form.baseDate)
    input(type='hidden' name='count' id='r_count' value=data.length)
    input(type='hidden' name='start' id='r_start' value=start)
    input(type='hidden' name='limit' id='r_limit' value=limit)
    input(type='hidden' name='firstTS' id='r_firstTS' value=firstTS)
    
    div.row.logtxt
        div(class='col-md-12 table-responsive')
            table(class='table table-striped table-condensed log_table')
                each m in data
                    tr(id='_r_'+m.entryid, class='lvl_' + m.level.toLowerCase())
                        td 
                            | #{m.tsf}|#{m.level}|
                            a P#{m.pid}
                            ||
                            a T#{(m.threadid < 0 ? 0 : m.threadid)}
                            ||
                            a C#{m.correlation}
                            || #{m.logname}| #{m.source}|| #{m.uid}
                        td=m.message
            
                 
