extends plain_layout


block content
    div(class='row logtxt')
        div(class='col-md-12 table-responsive')
            table(class='table table-striped table-condensed')
                each m in data
                    tr(id='_r_'+m.entryid)
                        td #{m.tsf}|#{m.level}| #{m.logname}| #{m.source}
                        td=m.message
            
                 