extends layout


block content
    div(class='container-fluid')
        nav(class='navbar navbar-default navbar-fixed-top')
            div(class='navbar-inner')
                div.container
                    form(class='navbar-form form-inline' id='searchForm')
                        input(type='hidden' name='baseDate' id='baseDate' class='form-control' value=form.baseDate)
                        input(type='hidden' name='start' id='start' class='form-control' value=form.start)
                        input(type='hidden' name='limit' id='limit' class='form-control' value=form.limit)
                        input(type='number' name='hh' id='hh' class='form-control' min=0 max=23 value=form.hh)
                        span :
                        input(type='number' name='mm' id='mm' class='form-control' min=0 max=59 value=form.mm)
                        span :
                        input(type='number' name='ss' id='ss' class='form-control' min=0 max=59 value=form.ss)
                        span 
                            
                        div(class='btn-group')
                            button(class='btn btn-default' id='prevPage')
                                span &larr;    
                            button(class='btn btn-default' id='nextPage')
                                span &rarr;
                                
                        select(id='level' name='level' style='margin-left: 5px;' class='form-control')
                            option Trace
                            option Debug
                            option Info
                            option Warn
                            option Error
                            
                        input(type='text', name='logname' value=form.logname class='form-control', placeholder='log name')
                        input(type='text', name='source' value=form.source class='form-control', placeholder='source')
                        input(type='text', name='text' value=form.text class='form-control', placeholder='filter text')
                        select(id='selectbasic2', style='margin-left: 5px;', class='span3')
                            option=T
                            option=X
                        select(id='selectbasic3' style='margin-left: 5px;' class='input-small')
                            option=T
                            option=X
                        
                        button(type='submit', class='btn btn-success') Search
                        a(href='#', class='adv-search')
                            button(class="btn", type="button", style="margin-left:10px;")
                                i(class="icon-th-list")
                    
        if hasMore
            script.
                jQuery('#nextPage').click(function() {
                    var f = $('#searchForm');
                    var s = $('#start');
                    s.val(!{start + limit});
                    f.submit();
                });
        if start > 0
            script.
                jQuery('#prevPage').click(function() {
                    var f = $('#searchForm');
                    var s = $('#start');
                    s.val(!{(start - limit < 0 ? 0 : start - limit)});
                    f.submit();
                });
        script.
            var srch = function() {
                $('#start').val(0);
                $('#searchForm').submit();
            };
            $('#hh').change(srch);
            $('#mm').change(srch);
            $('#ss').change(srch);
            $('#btn_search').click(srch);
            $('#btn_clear').click(function() {
                $('#searchForm').reset();
            });
            
        div(class='row logtxt')
            div(class='col-md-12 table-responsive')
                table(class='table table-striped table-condensed')
                    each m in data
                        tr(id='_r_'+m.entryid)
                            td #{m.tsf}|#{m.level}| #{m.logname}| #{m.source}
                            td=m.message
                
                 